<body>

<h1> Some NFL Head Coaches</h1>

<%= link_to 'New coach', new_coach_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Tidbits</th>
    <th colspan="3"></th>
  </tr>

  <% @coaches.each do |coach| %>
    <tr>
      <td><%= coach.name %></td>
      <td><%= coach.tidbit %></td>
      <td><%= link_to 'Show', coach_path(coach) %></td>
      <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
      <td><%= link_to 'Destroy', coach_path(coach),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</body>
