<p>
  <strong> Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong> Tidbits:</strong>
  <%= @coach.tidbit %>
</p>

<%= link_to 'Back', coaches_path %>

<%= link_to 'Edit', edit_oach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
